@tailwind base;
@tailwind components;
@tailwind utilities;
@import "nprogress/nprogress.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: #8774e1;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: #8774e1;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --black-500: #2c2c2c;
    --black-600: #212121;
    --white: #ffffff;
    --grey-600: #aaaaaa;
    --grey-650: #9e9e9e;
    --grey-675: #707579;
    --grey-700: #707579;
    --grey-800: #707070;
    --grey-850: #212121;
    --purple-500: #8774e1;
    --purple-550: #775fec;
    --red-500: #ef4444;
    --red-900: #7f1d1d;
    --border-purple: #341caccc;
    --transparent-bg: #22222211;
  }
}

html {
  scroll-behavior: smooth;
}

/* All scrollbars */
::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
  background-color: var(--black-500);
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--purple-550);
}

/* Helper */
.flex-center {
  @apply flex items-center justify-center;
}

.loader {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, var(--purple-550) 100%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, var(--purple-550));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
/* HTML: <div class="loader"></div> */
.loader3d {
  --s: 20px;

  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}
.loader3d:before,
.loader3d:after {
  content: "";
  grid-area: 1/1;
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at calc(100% - var(--_d)) var(--_d),
    #fff 135deg,
    #666 0 270deg,
    #aaa 0
  );
  animation: l6 2s infinite;
}
.loader3d:after {
  animation-delay: -1s;
}
@keyframes l6 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.firstLoad-loader {
  @apply flex-center fixed inset-0 gap-3 m-8 p-3 text-[var(--purple-500)] font-semibold rounded-sm;
}

/* Containers */
.main-container {
  @apply min-h-screen grid grid-cols-1 sm:grid-cols-[4fr_3fr] md:grid-cols-[3fr_4fr] lg:grid-cols-[2fr_5fr] text-[var(--white)] duration-300;
}
.main-chat-wrapper {
  @apply relative w-full overflow-y-auto max-h-screen h-[100dvh] flex flex-col items-center justify-between;
}

/* Auth start */
.auth-container {
  @apply fixed inset-0 flex-center bg-[var(--black-600)] text-[var(--white)];
}
.auth-container__main {
  @apply max-w-[45rem] flex flex-col items-center justify-center h-full text-center gap-10;
}
.auth-content-container {
  @apply mt-8 text-center grid gap-2;
}
.auth-heading {
  @apply text-2xl font-medium sm:text-3xl;
}
.auth-paragraph {
  @apply w-[36ch] text-sm sm:text-base text-[var(--grey-600)] leading-relaxed;
}
.auth-btn {
  @apply w-full py-5 flex-center bg-[var(--accent-grey-500)] text-[var(--white)] hover:!bg-[var(--purple-500)] hover:border-transparent active:opacity-80  border border-[var(--purple-550)] rounded-2xl;
}
.auth-icon {
  @apply scale-110 group-hover:invert group-hover:brightness-0;
}
/* Auth end */

/* Sidebar start */
.sidebar__single-message {
  @apply hover:shadow-sm hover:shadow-[var(--purple-550)] flex items-center gap-3 duration-200 w-full py-3 px-3 hover:brightness-105 bg-[var(--white)] hover:bg-[var(--grey-600)] rounded-xl shadow cursor-pointer;
}
/* Sidebar end */

/* Messages section */
.messages {
  inset: 0 -100% 0 100%;
}
.messages.active {
  inset: 0 0 0 0;
}

/* Chatinfo start */
.chat-info-wrapper {
  @apply z-10 bg-cover fixed lg:static flex-shrink-0 shadow-xl shadow-[var(--purple-500)] duration-300 lg:duration-200;
}
.chat-info-inner {
  @apply h-full bg-[var(--transparent-bg)] backdrop-blur-md p-4;
}
/* Chatinfo end */
