@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #212121;
  --accent: #ffffff;
  --accent-secondary: #aaaaaa;
  --accent-pin: #707579;
  --accent-search-icon: #707070;
  --accent-search-placeholder: #9e9e9e;
  --search-border: #2c2c2c;
  --search-border-hover: #707579;
  --search-active: #8774e1;
  --notifications-counter-bg: #8774e1;
}

.flex-center {
  @apply flex items-center justify-center;
}
.auth-container {
  @apply fixed inset-0 flex-center bg-[var(--primary)] text-[var(--accent)];
}
.auth-container__main {
  @apply max-w-[45rem] flex flex-col items-center justify-center h-full text-center gap-10;
}
.auth-btn {
  @apply w-full flex-center py-5 border-2 border-slate-600 rounded-2xl;
}
